<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/lib/layer/version_2_4/layer.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>

<script type="text/javascript" th:src="@{/lib/jquery.validation/version_1_14_0/jquery.validate.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/version_1_14_0/validate-methods.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/version_1_14_0/messages_zh.js}" xmlns:th="http://www.w3.org/1999/xhtml"></script>

